
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.btn-prim-1{
    color: #0D1321;
    font-weight: bold;
    padding: 12px 20px;
}

.btn-prim-2{
    background-color: #0D1321;
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
    margin: 32px;
}

/* Nav styles */ 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title{
    font-weight: bolder;
    font-size: 28px;
}

.btn-prim-0{
    color: #0D1321;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 16px;
    border-radius: 5px;
}

nav ul{
    align-items: center;
    }

nav ul a{
text-decoration: none;
font-size: 20;
}

/* Banner styles */

.banner-bg{
background-image: url(../images/Hero-bg.png);
background-size: cover;
background-position: center; 
background-repeat: no-repeat;
/* padding: 49px 0px; */
}

.banner{
    text-align: center;
    padding: 13px 231px 58px;
}

.banner-titles{
    font-size: 48px;
    font-weight: bold;

}

.banner_description{
    font-size: 16px;
    margin: 0px 80px;
}

.banner-img{
    width: 240px;
    height: 240px;
}